* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(28, 111, 145);
    padding-bottom: 70px;
    overflow: hidden;
}

#about {
    background: rgb(28, 111, 145);
    color: antiquewhite;
    padding-bottom: 70px;
    overflow: hidden; 
}

#canvas {
    background: rgb(28, 111, 145);
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
}

#headshot {
    position: absolute; 
    left: 1300px; 
    top: 100px;
    z-index: 2;
    width: 500px;
}

